<div class="input-group fields">
<<<<<<< HEAD
  <%= f.text_field :title, placeholder: t("create.title"), class: "task_field form-control" %>
  <%= f.text_field :content, placeholder: t("create.content"), class: "form-control" %>
  <span class="input-group-addon">
    <%= link_to_remove_fields f %>
=======
  <br/>
  <span>
    <%= f.text_field :title, placeholder: "Title", class: "task_field form-control" %>
    <%= f.text_field :content, placeholder: "Content", class: "form-control" %>
>>>>>>> link to user in users
  </span>
  <span class="input-group-addon"><%= link_to_remove_fields f %></span>
</div>
