<div class="row">
  <div class="col-md-10 col-offset-2">
    <h2><%= t "admin.list_course" %></h2>
    <p class="pull-right"><%= link_to t("admin.new_course"), new_admin_course_path %></p>
    <table class="table table-striped table-hover">
      <thead>
        <th><%= t "admin.course_name" %></th>
        <th><%= t "admin.course_description" %></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, admin_course_path(course) %></td>
            <td><%= course.description %></td>
            <td><%= link_to t("admin.delete_course"), admin_course_path(course),
              method: :delete, data: {confirm: t("admin.delete_message")} %>
            </td>
            <td><%= link_to t("admin.edit_course"), edit_admin_course_path(course) %><td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
