<div class="row">
  <div class="col-md-8">
    <div class="col-md-12 course-name">
      <div class="col-md-8 col-offset-4">
        <p class="truncate"><%= @course.name %></p>
      </div>
      <hr>
    </div>
    <div class="col-md-12 course-description">
      <p class="tss"><%= @course.description %></p>
    </div>
    <p class="pull-right">
      <%= link_to t("admin.assign"), edit_admin_course_assign_trainers_path(@course) %>
    </p>
    <hr>
    <div class="col-md-12 subject_in_course">
      <p><%= t "admin.list_subject_in_course" %></p>
      <ul class="subject_title">
        <% @course.subjects.each do |subject| %>
          <li><p><%= link_to subject.title, "#" %></p></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 trainer_in_course">
      <h2><%= t "admin.trainer_in_course" %></h2>
      <div class="col-md-12">
        <% @course.users.supervisor.each do |trainer_in_course| %>
          <div class="avatar">
            <%= trainer_in_course.avatar %>
          </div>
          <p class="trainer_name"><%= trainer_in_course.name %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 trainee_in_course">
      <h2><%= t "admin.trainee_in_course" %></h2>
      <div class="col-md-4">
        <div class="avatar">
        </div>
        <p class="trainer_name"></p>
      </div>
    </div>
  </div>
</div>
