<div id="courses">
  <div class="tt-main">
    <div class="tt-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="tt-course">
              <div class="tt-course-summary">
                <h4><%= @course.name %></h4>
                <p><%= @course.description %></p>
                <div class="col-md-4 col-offset-8 pull-right action_in_course">
                  <div class="pull-right">
                    <% unless @course.finished? %>
                      <p><%= link_to t("admin.add_supervisor_to_course"),
                        edit_admin_course_assign_trainers_path(@course) %></p>
                      <p><%= link_to t("admin.add_trainee_to_course"),
                        edit_admin_course_assign_trainees_path(@course) %></p>
                    <% end %>
                    <p><%= link_to t("admin.view_progress"),
                      admin_course_course_progresses_path(@course) %></p>
                    <div class="btn-group pull-right">
                      <% if @course.init? %>
                        <%= form_for [:admin, @course] do |f| %>
                          <%= f.hidden_field :status, value: :inprogress %>
                          <%= f.submit t("admin.start_course") %>
                        <% end %>
                      <% elsif @course.inprogress? %>
                        <%= form_for [:admin, @course] do |f| %>
                          <%= f.hidden_field :status, value: :finished %>
                          <%= f.submit t("admin.finish_course") %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-subject col-md-8">
                <p><%= t "admin.list_subject_in_course" %></p>
                <% @course_subjects.each do |course_subject| %>
                  <div class="media">
                    <div class="media-body">
                      <p class="media-middle"><%= link_to course_subject.subject.title,
                        admin_subject_path(course_subject.subject) %>
                        <% if @course.inprogress? %>
                          <div class="btn-group pull-right">
                            <% if course_subject.init? %>
                              <%= form_for [:admin, course_subject] do |f| %>
                                <%= f.hidden_field :status, value: :inprogress %>
                                <%= f.submit t("admin.start_subject") %>
                              <% end %>
                            <% elsif course_subject.inprogress? %>
                              <%= form_for [:admin, course_subject] do |f| %>
                                <%= f.hidden_field :status, value: :finished %>
                                <%= f.submit t("admin.finish_subject") %>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="tt-trainer-summary hidden-xs">
              <div class="tt-course-logo">
                <%= image_tag("https://www.codeschool.com/assets/paths/badge-ruby-8fd86979e1ec714f4f41dd3cabedc651.svg",
                  alt: t("admin.image_name"), class: "menu_icon") %>
              </div>
            </div>
            <div class="tt-trainer">
              <h4><%= t "admin.trainer_in_course" %></h4>
              <div class="tt-trainee-list">
                <% @course.users.supervisor.each do |trainer_in_course| %>
                  <div class="media">
                    <div class="media-body">
                      <h6 class="media-heading"><%= link_to trainer_in_course.name,
                        admin_user_path(trainer_in_course) %></h6>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tt-trainer">
              <h4><%= t "admin.trainee_in_course" %></h4>
              <div class="tt-trainee-list">
                <% @course.users.trainee.each do |trainee_in_course| %>
                  <div class="media">
                    <div class="media-body">
                      <h6 class="media-heading"><%= link_to trainee_in_course.name,
                        admin_user_path(trainee_in_course) %></h6>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
